@import "tailwindcss";

@theme {
  /* Aqui definimos as cores da Alchymia no padrão Tailwind v4 */
  --color-obsidian: #050505;
  --color-gold: #C5A059;
  --color-gold-light: #D4AF37;
  
  /* Definindo as fontes */
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

/* Camada de Base */
@layer base {
  body {
    @apply bg-obsidian text-[#f5f5f5] antialiased;
  }
}

/* Camada de Componentes (Onde criamos nossas "classes customizadas") */
@layer components {
  .btn-gold {
    @apply relative overflow-hidden bg-gold text-black px-8 py-3 uppercase tracking-[0.3em] text-[10px] font-bold transition-all duration-500 hover:bg-white;
  }

  .nav-link {
    @apply text-[10px] uppercase tracking-[0.2em] font-light text-white/70 hover:text-gold transition-colors;
  }
}

/* Customização da Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}